body {
  font-family: "Source Sans Pro" , sans-serif;
  margin: 0;
  background: #f1f5f9;
}
header{
  background: #0b1120;
  color: #fff;
  padding: 322px;
}
footer {
  background: #0b1120;
  color: #fff;
  padding: 100px;
}
nav a {
  color: #07a0e7;
  margin-right: 28px;
  text-decoration: none;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 24px;
}
section {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 24px;
}
