body{
    font-family:"Source Sans Pro", sans-serif;
    margin:0;
    background:#f1f5f9;
}
nav{
background: #001b36;    
padding: 12px 24px;
}

nav ul{
    display: inline-flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a{
    color: #07a0e7;
    text-decoration: none;
    font-weight: 600;
}
nav a:hover, nav a.active{
    background: #5b6b65;
    color: #be1c1c;
    padding: 12px 20px;
    border-radius: 999px;
}
main{
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 24px;
}
img  {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
